/* Denna fil skall innehålla din CSS kod */
*{
    margin:0;
    max-width: 100%;
    max-height: 100%;
  

}

.gridwrapper{

    display: grid;
    grid-template-areas: 
    "he he he he he"
    "nav nav nav nav nav"
    "a1 . . . a2"
    "a1 im im im a2"

}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    background-color: salmon;

}

h1 {

    color: white;
    text-align: center;
    
}

p {
    font-family: verdana;
    font-size: 20px;

}

#img{
    padding: auto;
}


.header {
    grid-area: he;
}


.article1 {
    grid-area: a1;
}

.article2 {
    grid-area: a2;
}

#img{
    position:relative;
    height: 100%;
    width:100%;
}

.image {
    grid-area: im;
    width: 1280px;
    height: 720px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 10vh auto auto auto;
}

.click{
font-size:25px;
font-family: Arial, Helvetica, sans-serif;

}

a{
    color: white;
}

.omoss{
    padding-top: 100px;
}

#background{
background-size: cover;
height: 100%;
width: 100%;
}